Contenido
<div class="card">
    <div class="card-header">
        Registros

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table ">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Id</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>9</td>
                        <td>Crema</td>
                        <td>crm0987</td>
                        <td>
                            <a routerLink="../edit"> Editar </a> | <a routerLink="../delete"> Borrar </a></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        
    </div>
    
</div>