<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#" aria-current="page">Sistema <span class="visually-hidden">(current)</span></a>
        <a class="nav-item nav-link" routerLink="list">Lista de Registros</a>        
        <a class="nav-item nav-link" routerLink="edit">Editar Registro</a>
        <a class="nav-item nav-link" routerLink="delete">Borrar Registro</a>
        <a class="nav-item nav-link" routerLink="detail">Detalle Registro</a>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>